
/* body {background-color: coral;}  */
body {  
  background-image: url("/images/background_tile_small.png");
  background-repeat: repeat;
  background-color: #cfe2eb;
  /* margin: 0px; */
  margin: auto;
  display: table;
  min-height: 90%;
  width: 70%;
} 

/* nav, footer, header {
  background-color: #cfe2eb;
} */
.content {
  background-color: #cfe2eb;
}


/* body { margin: 60px auto; width: 70%; min-height: 100%; } */

a { text-decoration: none; color: rgb(100, 100, 100); }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.5em; }
h3 { font-size: 1.75em; margin-bottom: 0.1em;}
h4 { font-size: 1.25em; margin-bottom: 0.1em;}
h5 {font-size: 1.5em; line-height: 1.4em; color: #333; }

iframe {
    display: block;
    background: #000;
    border: none;
    height: calc(140vh - 30px);
    width: 100%;
}

#video_container:hover #video-controls { 
  opacity: 1; 
}

.CurrentPageHighlight 
{ 
    color: rgb(182, 12, 12); 
} 

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }

nav ul li, footer ul li { 
  display: inline; 
  margin-right: 20px;   
  white-space: nowrap; 
}

footer { border-top: 2px solid #d5d5d5; font-size: .8em; }


/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }

.header {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

/* .header-img {
  padding: 20px;
  float: left;
  display: inline;
  width:150px;
  height:130px;
  background: url('/images/headshot.jpg');
  background-size: contain;
} */
/* .header-name {
  float: left;
  display: inline;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 3em;
} */
/* .header-blurb {
  float: left;
  display: inline;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 1em;
}  */